.cart-container {
  padding: 30px;
}

.cart-item {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.cart-details {
  flex: 1;
}

.qty-box {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.qty-box button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 20px;
}

.checkout-btn {
  background: #0a1e3e;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}