.product-page {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 40px;
  padding: 40px;
}

/* LEFT */
.left-section img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

/* MIDDLE */
.middle-section {
  font-size: 16px;
}

.price {
  color: #b12704;
  font-size: 22px;
  margin: 10px 0;
}

.desc {
  margin: 20px 0;
  line-height: 1.6;
}

/* RIGHT (BUY BOX) */
.right-section {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.stock {
  color: green;
  margin: 10px 0;
}

.btn-buy {
  background-color: orange;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  border-radius:10px;
}
.reviews-section {
  padding: 40px;
}

.review {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}